/* Add this to your CSS file or use Tailwind's @apply directive in your styles */
.calendar-large {
    max-width: 1000px; /* Adjust width as needed */
    width: 100%;
    height: auto;
  }
  .react-calendar__tile:disabled {
    background-color: #9a9898;
    color: #0e0d0d;
}