@keyframes moveLine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes moveLine2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-line {
    animation: moveLine 10s linear infinite;
  }
  
  .animate-line2 {
    animation: moveLine2 15s linear infinite;
    top: 60%;
  }
  